.header {
    &__top {
        padding: 5px 0;
        background-color: $bgColor;
    }
    &__box {
        display: flex;
    }
    &__phone {
        color: $mainColor;
        margin-right: auto;
        display: inline-flex;
        align-items: center;
        &::before {
            content: "";
            background-image: url("../img/header_phone.svg");
            width: 15px;
            height: 14px;
            margin-right: 12px;
        }
    }
    &__leang {
        display: inline-flex;
        align-items: center;
        &::before {
            content: "";
            background-image: url("../img/header_glob.svg");
            width: 17px;
            height: 16px;
            margin-right: 7px;
        }
        &::after {
            content: "";
            background-image: url("../img/header_arrow.svg");
            width: 6px;
            height: 3px;
            margin-left: 7px;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        padding: 21px 0;
    }
    &__logo{
        margin-right: 50px;
    }
    &__loupe{
        margin-right: 70px;
    }
    &__menu{
        margin-right: auto;
    }
    &__list {
        display: flex;
    }
    &__item {
        font-size: 15px;
        line-height: 18px;
        margin-right: 47px;
    }
    &__basket{
        margin-left: 20px;
    }
    &__item-arrow{
        display: inline-flex;
        &::after{
            content: '';
            background: url('../img/header_arrow2.svg')no-repeat 8px 7px;
            width: 19px;
            height: 13px;
        }
    }
}
